body {
	margin: 0;
	font-family: "Roboto";
	background: #f1f1f1;
}

code {
	font-family: "Roboto";
}

.landing-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 750px;
}

.component-padding {
	padding: 15px;
}

.grid-padding {
	padding: 15px;
}
.sign-in-container {
}

.MuiInput-underline:after {
	border-bottom: solid 2px #888 !important;
}
.MuiInput-underline:before {
	border-bottom: solid 1px #777 !important;
}
.MuiFormLabel-root {
	color: #888 !important;
	font-weight: 550;
}
.MuiFormLabel-root.Mui-error {
	color: #f44336 !important;
}
.MuiInput-underline.Mui-error:after {
	border-bottom-color: #f44336 !important;
}
.link {
	text-decoration: none;
}
.paper {
	padding: 15px;
	padding-bottom: 25px;
}
a {
	text-decoration: none;
	color: #333;
}
.appbar-logo-holder {
	display: flex;
	justify-content: center;
	width: 100%;
}
.appbar-email-container {
	position: absolute;
	right: 15px;
	display: flex;
	justify-content: space-between;
}
.appbar-email {
	font-size: 18px;
	font-weight: normal;
	color: #444;
}
.content-wrapper {
	height: 820px;
	padding: 15px;
	color: #777;
}
.content-title-container {
	padding: 15px;
}
.content-title {
	font-size: 20px;
	color: #444;
}

.chat-title {
	font-size: 17px;
}
.chat-list-item {
	border-bottom: solid 1px #eee;
}
.chat-list-container {
	width: 100%;
	height: 760px;
	overflow: auto;
	box-shadow: inset 0px -10px 50px -33px rgba(15, 31, 31, 0.67);
}
.reply-form-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 9%;
	position: fixed;
	bottom: 10px;
	width: 1650px;
}
.reply-input {
	width: 95%;
	padding: 15px;
	font-size: 16px;
	color: #444;
}
